body {
  background-color:  #fafafa;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.gamelistDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 1%;
  padding-right: 1%;
  width: 25%;
  min-height: 60vh;
  padding-bottom: 40px;
  margin-bottom: 2%;
  padding-top: auto;
  border: 1px solid rgba(0, 0, 0, 0.12) ;
  border-radius: 2px;
  box-shadow: 2px 2px 1px grey;
}

.instructions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60vw;
}
.buttonDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

}
@media screen and (max-width: 768px) {
  .gamelistDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card{
    background: #fff;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 80%;
    padding-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.12) ;
    border-radius: 2px;
    box-shadow: 2px 2px 1px grey;
  }
  .instructions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
  }

}


button{
  background-color: #303f9f;
  border: 1px solid rgba(0, 0, 0, 0.12) ;
  border-radius: 2px;
  box-shadow: 2px 2px 1px grey;
  padding: 15px 32px;
  margin-left: 1%;
  margin-right: 1%;
  color: white;
  text-align: center;
  font-size: 16px;
}
button:hover{
  box-shadow: 2px 6px 3px grey;
  opacity: 0.8;
}
